[2015-02-04 09:41] chandler14362 opened #29 "Move the whitelist to inside of the source code"

[2015-02-04 11:39] judge2020 commented on #29
Will prevent *similar* exploits to what pascal recently showed in a video

[2015-02-04 15:51] xJollibee commented on #29
I don't think editing the whitelist locally will let other clients see what they are saying. Probably will come out "meow" or "quack" on the server's end.

[2015-02-04 17:22] chandler14362 commented on #29
I'm only adding the whitelist to the source code because I don't want users to download a 58mb file every time we update it.

[2015-02-04 17:56] judge2020 commented on #29
@xjollibee it shows as a blank name to the client, which also makes the toon unclickable and in turn un-targetable

[2015-02-04 18:18] chandler14362 commented on #29
@judge2020 Editing the whitelist has nothing to do with people's names

[2015-02-04 18:21] chandler14362 commented on #29
Done in pull request #30

[2015-02-04 18:21] #29 closed

[2015-02-04 19:57] judge2020 opened #31 "Enhancement: Limit teleport requests"
Teleport requests should be limited. Perhaps one teleport request every 1-3 seconds? This would help prevent spam. Furthermore, if a request is currently active, another shouldn't be issued. This will prevent teleport spam.

[xpythonic with the original issue](https://github.com/ToontownInfinite/src/issues/227)

[2015-02-04 20:23] judge2020 opened #32 "Feature: In-game group tracker"
Not everyone is on the IRC, and with TTF there isn't even an group tracker bot in the channel. An in-game tracker would allow everyone to access it.
-this is also the discussion thread-

[2015-02-04 20:24] judge2020 commented on #32
How about a gui like ![you don't see image :(](http://gyazo.com/0c71ebc9d9a27d08f6e3afef4ad064ba) on the left or right side of the page.

[2015-02-04 20:52] chandler14362 commented on #31
Teleport requests already have a limit on them

[2015-02-04 20:52] #31 closed

[2015-02-04 21:04] #32 closed

[2015-02-06 00:07] Loudrob commented on #29
Wouldn't it be a good idea to move namemaster english into the source code too?

[2015-02-06 02:09] chandler14362 commented on #29
@Loudrob I am going to do that next

[2015-02-06 14:16] Loudrob opened #38 "Enhancement: Invasion Tracker suit and time"
It would be pretty nice if when hovering or clicking on the invasion tracker symbol on the districts page, it shows the cog name and the amount of cogs and time left. Sort of a transparent little window with this information.

[2015-02-07 02:21] chandler14362 commented on #38
This was a planned feature for TTI and will be added.

[2015-02-07 02:32] chandler14362 opened #41 "Major code cleanup"
This is probably going to take a while... I want to deprecate the OTP folder as well. Anyways, I'm going to be doing A LOT of code cleanup. Hopefully I'll fix a ton of memory leaks and improve the structure of the game.

[2015-02-07 17:01] DenialMC commented on #41
requiescat in pace otp

[2015-02-08 17:06] judge2020 opened #45 "Dev window shows TTI logo"
![image](http://i.gyazo.com/b965ccf66580e99f619c77b97bfeb554.png)

[2015-02-08 18:51] judge2020 opened #47 "special toontask: Recieve the "Name your toon!" button"
A just-for-fun task that gives you this button upon completion
![image](http://i.gyazo.com/dd889294950210cbbf8ba37a14f67202.jpg)

[2015-02-08 19:12] Puggyblue999 commented on #45
That can be easily fixed, they just need a new logo to change it to and replace the favicon in phase_3/etc/icon.ico

[2015-02-08 19:15] judge2020 commented on #45
@Puggyblue999 I can't seem to multify the phase_3 the launcher uses right now so i'm unable to get the image

[2015-02-08 19:57] ttcloopy commented on #47
No, no no no... Just No.  Pick your name, stay with your name.  Changing toon names will cause far to many issues in moderating the game.  Changing toon color is bad enough!

[2015-02-08 21:42] Loudrob commented on #47
@ttcloopy Toon still have the same avIds even after renaming, so it shouldn't be too much of an issue. I think that something like this should be buyable in the cattlelog for a very high price.

[2015-02-08 21:59] chandler14362 commented on #47
Nope nope nope. Never happening.

[2015-02-08 21:59] #47 closed

[2015-02-08 22:04] Loudrob opened #48 "Remove Yin and Yang."
We already have the ability to make black and white toons in make a toon. What is the point of Yin and Yang?

[2015-02-08 22:06] judge2020 commented on #48
The only thing I can think of is turning black/white after making your toon

[2015-02-09 04:47] Wilee999 commented on #45
they didnt even change it after tti changed their logo

[2015-02-12 23:39] Loudrob opened #53 "Make camera view cogs walking out of elevator"
I know this may not be a major issue, but it can actually cause potential crashing if you try to fire a cog while it's walking out of the elevator. Instead of viewing the gag screen while the cogs walk out, it should view the cogs walking out.

[2015-02-12 23:58] judge2020 commented on #53
Support

[2015-02-13 01:31] gamesawdrew commented on #45
they didnt change the logo because the tti game logo was that, and thats what their code had atleast

[2015-02-13 01:34] gamesawdrew opened #54 "Addition: Field Offices"
I have been missing field offices.
I am starting on adding them in and i will submit a pull request when they are complete!

[2015-02-13 02:50] Loudrob commented on #45
@gamesawdrew It was only that for 2 weeks, and then it was the one that looked like deformed red lips. But they still, for some reason, hadn't changed it.

[2015-02-13 03:06] judge2020 commented on #45
@loudrob @gamesawdrew it's just the Dev window so they don't care... It's not the public window logo :P

[2015-02-13 22:11] ttcloopy commented on #54
Thank you, all contributions are welcome as we are a small team working on a big project with many areas to consider :)  Best of luck!

[2015-02-13 23:48] enigmeow commented on #54
that would be great if you could do that!  Yeah, we are pretty limited in resources so the distributed community is what we are depending on

[2015-02-14 19:21] mgracer48 opened #61 "mod panel crashes if u click mute gui"
just saying

[2015-02-14 22:22] gamesawdrew opened #63 "toontown/rpc"
So upon downloading the code, running a server with RPC server enabled, and then go to my browser and type localhost:8080, it gives me a 501 not implemented error, any suggestions?

[2015-02-14 22:25] gamesawdrew commented on #54
No problem! I'm trying my best right now

[2015-02-14 22:34] gamesawdrew commented on #45
@judge2020 @loudrob ya thats kind of what i meant, the logo was that because that was the dev logo

[2015-02-15 10:28] mgracer48 commented on #63
i have been wondering how to use rpc server wish there was a guide lol

[2015-02-15 12:43] pslifeisgood commented on #61
any traceback that you can give us?

[2015-02-15 12:45] mgracer48 commented on #61
i kinda fixed it myself ill try to find it in my logs

[2015-02-15 12:46] mgracer48 commented on #61
here is one for unlocks
ToontownStart: Polling for game2 to finish...
ToontownStart: Game2 is finished.
ToontownStart: Starting the game.
ToontownStart: setting default font
TTLocalizer: Running in language: english
from toontown.toonbase.TTLocalizerEnglish import *
OTPLocalizer: Running in language: english
from otp.otpbase.OTPLocalizerEnglish import *
ToontownStart: Loading default gui sounds
To

[2015-02-15 12:46] mgracer48 commented on #61
here is for mute :
  File "toontown/toon/ModPanel.py", line 123, in mute
    if not MagicWordManager.lastClickedNametag:
NameError: global name 'MagicWordManager' is not defined
/usr/bin/ppython: No module named toontown.toonbase.ToontownStart.py

[2015-02-15 19:19] judge2020 commented on #61
please close, a new mod panel has been made https://github.com/toontownfellowship/src/commit/a1b9d84b555f7d4fd74d3514f2755cd60ce02c5e

[2015-02-15 19:20] #61 closed

[2015-02-15 19:27] judge2020 opened #66 "Bugs/issues: Mod panel"
1. When an tilde is not typed before the magic word (in the magic word box) the client crashes. To fix I  suggest to just send an open chat message of whatever's in the box so if there's no tilde it'll just say the word.
![image](http://i.gyazo.com/6f34d49255fe70102048a378a63f2838.gif)
traceback: http://pastebin.com/42saAfni

2. After typing a letter in any box, the next letters go into your speec

[2015-02-16 16:11] mgracer48 opened #67 "create an rpc document"
Its a little confusing on how it works it would be great if you could create a doc for it and setting it up

[2015-02-17 04:36] gamesawdrew opened #69 "Building Client"
So i try the build_client, i do everything the doc says, but i get a bunch of errors. Please tell me how to do the build client process right from the beginning to end! Thank you!

[2015-02-17 11:37] judge2020 commented on #69
Please read the doc. It says to get 'infinite cypher' from a dev

[2015-02-17 13:03] enigmeow commented on #69
we have not documented how TTF builds a client..  it is the only even remote security we have..

sorry

[2015-02-17 13:04] enigmeow commented on #67
Here is a example of using it

https://github.com/toontownfellowship/src/blob/master/tools/rpc-invasions.py

I will cobble together a simple doc..

[2015-02-17 13:04] judge2020 commented on #69
Yes @enigmeow , i meant from the old tti's doc for building client

[2015-02-17 13:04] enigmeow commented on #63
Here is a example of using it:  https://github.com/toontownfellowship/src/blob/master/tools/rpc-invasions.py

[2015-02-17 13:07] enigmeow commented on #53
I have always wanted to ask the gods of TTO if the camera angles were deliberate..

Forcing people to pay attention and remember the cards as they were shown for an instant?  I know TTR just fixed this and I have to agree that it probably a good fix.

[2015-02-17 13:11] enigmeow commented on #48
amusingly, it seems like people instead want to switch back to colors..

[2015-02-17 17:23] gamesawdrew commented on #63
I tried that file, but i get this error:

Traceback (most recent call last):
  File "rpc-invasions.py", line 16, in <module>
    client = Server(sys.argv[1])
IndexError: list index out of range

[2015-02-17 17:24] gamesawdrew commented on #67
@enigmeow Ok thanks

[2015-02-17 17:25] gamesawdrew commented on #69
Oh. well im smart, i need to prepare client first...

[2015-02-17 17:29] enigmeow commented on #63
python rpc-invasion.py  server-name  rpc-key

[2015-02-17 17:31] enigmeow commented on #63
actually, the server secret is arg 1.. the server name is arg 2

[2015-02-17 17:33] gamesawdrew commented on #63
Traceback (most recent call last):
  File "rpc-invasions.py", line 16, in <module>
    client = Server(sys.argv[2])
  File "C:\Panda3D-1.9.0\python\lib\site-packages\jsonrpclib\jsonrpc.py", line 1
97, in __init__
    raise IOError('Unsupported JSON-RPC protocol.')
IOError: Unsupported JSON-RPC protocol.

[2015-02-17 17:44] mgracer48 commented on #63
i get same error

[2015-02-17 17:44] enigmeow commented on #63
example server:   http://localhost:8080

[2015-02-17 17:44] enigmeow commented on #63
example server:  http://localhost:8080

[2015-02-17 17:45] mgracer48 commented on #63
ah i see

[2015-02-17 17:45] enigmeow commented on #63
you will owe me a clear writeup on how to use rpc when this is done.. :)

[2015-02-17 17:46] gamesawdrew commented on #63
Localhost:8080
gives this
501 Not Implemented

[2015-02-17 17:50] gamesawdrew commented on #63
oh wait

[2015-02-17 17:50] mgracer48 commented on #63
[Errno 61] Connection refused i used a random key

[2015-02-17 17:50] enigmeow commented on #63
the uber has to be running, the rpc enabled, the rpc set to use that key..

[2015-02-17 17:51] gamesawdrew commented on #63
Oh i got it working

[2015-02-17 17:51] mgracer48 commented on #63
ah ok

[2015-02-17 17:54] gamesawdrew commented on #63
What i want to know, is how to do other commands like name accepting and stuff

[2015-02-17 17:54] mgracer48 commented on #63
and what config do i use for the key in the prc file

[2015-02-17 17:55] gamesawdrew commented on #63
rpc-server-secret

[2015-02-17 17:56] gamesawdrew commented on #63
so to launch the rpc thing its "python rpc-invasions.py PUT KEY HERE http://localhost:8080

[2015-02-17 17:56] enigmeow commented on #63
Those are all depending on the ClientManager code that TTI used which depending on a whole web infrastructure that never got dropped into the github... ie, lost to time and space

TTFS is doing all the name approvals/etc purely via the mysql database.  We only use the rpc code now for invasion calling.

I need to update it for the more generic case and add some useful mod commands

[2015-02-17 17:58] mgracer48 commented on #63
question how do u use mysql with astron thought astron didnt have mysql support and also how do i use it with windows :) and is there an easy way to convert yaml into mysql?

[2015-02-17 18:03] mgracer48 commented on #63
ok so im guessing to use astron you created it with mongodb then you used mysql its a  shame no tutorial for windows for mysql and also would like to convert yaml into mysql

[2015-02-17 18:03] enigmeow commented on #63
1) astron is using mongodb..
2) the account config is in mysql for easy php access
3) No idea the windows case.  I run my test servers in a virtual linux box running on my windows box.. :)
4) I don't know of a converter yet .. but it wouldn't be that hard to write..

[2015-02-17 18:06] mgracer48 commented on #63
ok one more question using fellowship's client servicesmanagerud can i acutally use mongodb ? I mean like using the mongod cmd and then launching astron with it using database named test with right astron configs that you are using

[2015-02-17 18:06] gamesawdrew commented on #63
@enigmeow Oh ok

[2015-02-17 18:08] enigmeow commented on #63
there are two different mongodb implementations that use mongodb for everything in servicesmanagerud.  The "dev" one might be better tested.  The other one I wrote but never got tested because people changed the requirements on me ...

[2015-02-17 18:11] mgracer48 commented on #63
so would accountdb-type developer work is that what your about?

[2015-02-17 18:13] mgracer48 commented on #63
also when i used mongodb and  put the class mongoaccountdb and was using that and got this invalid password format whats going on why am i being rejected ?

[2015-02-17 18:18] enigmeow commented on #63
the "dev" mongodb takes a standard username.  The other one (i was writing) takes a username:password.  Both are just starting points that need to be filled out

[2015-02-17 18:24] mgracer48 commented on #63
ah thank you man

[2015-02-18 01:17] chandler14362 commented on #66
For number 3: Press the middle mouse key while hovering over the button.

Ill work on fixing the rest of the issues.

[2015-02-18 15:49] mgracer48 opened #76 "can you make blacklist.json public?"
I want to be able to add this to my site for a blacklist for names

[2015-02-18 15:49] mgracer48 commented on #63
@enigmeow  can you make a starting guide doc for doing that if you can?

[2015-02-18 17:10] mgracer48 commented on #63
using mysqldb i get this
[2015-02-18 17:09:08] INFO: Message Director: Got an incoming connection from 12
7.0.0.1:49636
[2015-02-18 17:09:29] ERROR: Client (78.43.41.120:52992, 1000000000): Ejecting c
lient (122): invalid password format

[2015-02-18 18:18] gamesawdrew commented on #63
34 comments, what have i started

[2015-02-18 18:19] enigmeow commented on #63
it wants a name:pass in the generic case.  But, you are close!

One of the win32 starter's reads for a name:pass and the other just does name.

[2015-02-18 18:33] mgracer48 commented on #63
hmm ok where do i specify pass? i do password specify in the login command prompt so there is a login password

[2015-02-18 20:24] enigmeow commented on #67
I think we beat this to death in another issue (toontown/rpc)

[2015-02-18 20:24] #67 closed

[2015-02-19 00:42] gamesawdrew commented on #69
Do you think you could help me?
Me and some of my friends are planning on bringing up a server! We already have the code and stuff ready, we just need help building it, dont worry, we wont try to compete with you ;)

[2015-02-19 14:45] CrazyClyde commented on #69
issue #69 lolol

[2015-02-19 14:55] enigmeow commented on #69
What are your requirements?  That it be injection proof?  That users cannot use modified clients?

If you table these requirements, its pretty easy...

[2015-02-19 14:59] enigmeow commented on #48
i believe there is a config option to remove yin and yang

[2015-02-19 16:46] judge2020 commented on #48
@enigmeow found [here](https://github.com/toontownfellowship/src/blob/master/config/general.prc#L120)

[2015-02-19 18:28] enigmeow commented on #48
exactly.. :)

[2015-02-19 19:42] gamesawdrew commented on #69
Ya, Pretty much

[2015-02-20 01:48] gamesawdrew commented on #69
When i use build_client.py i get this: http://pastebin.com/zq5E9bpp

[2015-02-20 19:51] mgracer48 commented on #76
@enigmeow

[2015-02-21 04:15] ToontownMichael opened #82 "Gardenin/Cannons"
When will we start the gardening and rental cannons project? I've been hoping to see them soon.

[2015-02-21 04:16] ToontownMichael commented on #69
Will the infinitecipher be avaliable?

[2015-02-21 04:36] xJollibee commented on #69
@enigmeow Not trying to be mean but, I think you should forget about security and work on new content. You need to keep your fanbase and even expand it. Security won't matter in a year when nobody is playing it because of no new content.

[2015-02-21 07:11] xJollibee commented on #82
You forgot doodles m8

[2015-02-21 11:14] mgracer48 commented on #82
you forgot doodles and parties

[2015-02-21 13:32] Loudrob opened #85 "Enhancement: Nametag size increases by distance."
One thing I have always wondered about these private servers was: Why don't the nametags grow as the character gets farther away like they did in Toontown Online? Here's an example of Disney's nametags from a distance:

![bxafbgv](https://cloud.githubusercontent.com/assets/8785030/6314213/0c132040-b9a4-11e4-8c59-42dcfc5120a2.png)

And here's the current nametags. Very hard to see or click on from

[2015-02-21 16:54] Loudrob commented on #82
you forgot doodles, parties, gifting and field offices

[2015-02-21 17:53] ToontownMichael commented on #82
@Loudrob @mgracer48  @xJollibee I am not listing everything that is broken o.o I was just wondering when we will start those certain projects. Not the rest.

[2015-02-21 18:11] mgracer48 opened #99 "cant see tall cogs' level"
I suggest we implement  a gui for levels or fix the camera

[2015-02-21 18:23] mgracer48 opened #100 "toontown fellowship on wine"
Stuck on a white screen  Wont even load loading screen

[2015-02-21 18:23] gamesawdrew commented on #82
You forgot doodles parties gifting field offices, a ceo that doesn't lag, a
YEE sos card :3 and the props on the street that give you gag buffs
On Sat, Feb 21, 2015 at 11:54 AM Conspirator <notifications@github.com>
wrote:

[2015-02-21 18:26] Loudrob commented on #100
this isnt a fixable issue until a native mac launcher is released

[2015-02-21 18:27] mgracer48 commented on #100
yea yea uh huh

[2015-02-21 18:38] Loudrob commented on #82
@gamesawdrew minus the props on the street please

[2015-02-21 18:40] gamesawdrew commented on #99
If we did the gui, we would have to make it unique, not exactly the same as
ttr
On Sat, Feb 21, 2015 at 1:12 PM mgracer48 <notifications@github.com> wrote:

[2015-02-21 18:58] mgracer48 commented on #99
your right

[2015-02-21 19:34] #100 closed

[2015-02-21 19:46] mgracer48 opened #106 "feature/cognation"
List your ideas here people.

[2015-02-21 20:32] judge2020 commented on #106
no

[2015-02-21 21:53] kevman95 commented on #69
You wont get infinite cipher  before i am even dead. LOL.

[2015-02-21 22:07] Loudrob commented on #69
@kevman95 based on whats happening, i am excited how soon the infinite cipher is coming

[2015-02-21 22:13] xJollibee commented on #69
LOL @Loudrob I'm excited to!

[2015-02-21 22:23] nkrypt opened #111 "mgracer48's pull requests"
Someone needs to make sure they are clean before merging.

[2015-02-21 22:25] kevman95 commented on #111
Yes. 100% Agree.

[2015-02-21 23:03] judge2020 commented on #111
^^^

[2015-02-22 00:45] joshsora commented on #69
This chat has given me aids.
TTF has given me aids.
Kill it.

[2015-02-22 10:18] pslifeisgood commented on #76
Fuck off

[2015-02-22 10:20] #76 closed

[2015-02-22 11:13] mgracer48 commented on #111
....

[2015-02-22 11:13] mgracer48 commented on #111
i call this bullying

[2015-02-22 11:14] mgracer48 commented on #111
you know i can improve :/ just give me a break

[2015-02-22 11:17] mgracer48 opened #113 "teleporting to a friend doesnt work"
It sends you back to playground , workaround is teleport to estate or another district or another zone then teleport to the friend

[2015-02-22 11:28] mgracer48 commented on #111
someone please close this issue

[2015-02-22 14:47] pslifeisgood commented on #113
https://github.com/toontownfellowship/src/issues/111

[2015-02-22 14:50] pslifeisgood commented on #111
Nobody close it

[2015-02-22 14:53] mgracer48 commented on #111
why not this is rude

[2015-02-22 15:05] judge2020 commented on #111
This should be closed. I agree that his PR's are one line cancer commits, but there also haven't been rules posted since the repo was forked, so he wasn't doing anything wrong.

[2015-02-22 15:09] mgracer48 commented on #111
thank you! i will try to improve my commits

[2015-02-22 15:29] Loudrob commented on #111
Enigmeow the doc-master will probably make rules.

[2015-02-22 15:30] Loudrob commented on #113
This issue isn't really descriptive enough. Where is your friend when this happens? Street, their estate, cog hq?

[2015-02-22 15:32] mgracer48 commented on #113
it is when you teleport to someone on the street you get " The toon was moving around please try again." Or something like that

[2015-02-22 15:36] Loudrob commented on #113
Alright, this issue is already known of I believe.

[2015-02-22 17:02] Loudrob opened #116 "Feature: Brutal factory"
high damage goons, high level cogs, chan come to the rescue pls.

[2015-02-22 18:15] gamesawdrew commented on #113
Yes this issue is very annoying... It happens even if they are standing still..

[2015-02-22 18:38] pslifeisgood commented on #111
He better, and fast. I don't need more people like Michael here making these commits

[2015-02-22 19:20] #106 closed

[2015-02-22 23:55] judge2020 commented on #38
@chandler14362 please come back and clean up this github :(

[2015-02-23 03:50] MiniguyBrendan commented on #111
_
           /(|
          (  :
         __\  \  _____
       (____)  `|
      (____)|   |
       (____).__|
        (___)__.|_____

[2015-02-23 03:55] starsky135 commented on #99
It would be more unique/effective if the camera angles were fixed.

[2015-02-23 11:25] enigmeow commented on #113
from the last time I dug through this: https://github.com/ToontownInfinite/src/issues/206

It has bubbled up to the top of my "most annoying" bugs so I'll dig into it again since nobody else has managed to kill it yet.. :)

[2015-02-24 01:55] ToontownLittleCat opened #120 "Bug: During Toon-torial, Tutorial Tom doesn't show up and tells player to go to HQ."
Title and gif says it all.

![](http://i.gyazo.com/52008016518bf04078143fa6cd5486e3.gif)

[2015-02-24 02:05] judge2020 commented on #120
This is because Tom would have invisible legs :P

[2015-02-24 02:07] ToontownLittleCat commented on #120
But still, this needs to be fixed first.

On Monday, February 23, 2015, judge2020 <notifications@github.com> wrote:

[2015-02-24 02:13] Spiderlover commented on #120
well, on my own version of Toontown Fellowship, I didn't even get the Toon-torial after creating my toon, The game skipped me to TTC with the Trolley Task complete.

[2015-02-24 02:16] ToontownLittleCat commented on #120
@Spiderlover That because "force-skip-tutorial"option is enabled on
dev.prc.  Set that to false, make a new toon, and voila!

On Monday, February 23, 2015, Spiderlover <notifications@github.com> wrote:

[2015-02-24 02:22] Spiderlover commented on #120
@ToontownLittleCat ok, thanks for the help :)

[2015-02-24 02:42] CrazyClyde commented on #111
They're funny how bad they are. Especially the "make an exception if building client fails" one, where he only has an "exception:" without a "try:". I literally died laughing from that one.

[2015-02-24 03:31] MiniguyBrendan commented on #111
@CrazyClyde  I think it was an "else" without an "if" but yeah

[2015-02-24 15:56] mgracer48 commented on #116
chan is not your slave XD

[2015-02-24 15:59] Spiderlover opened #123 "Pull Requests Getting Buried and Ignored"
Due to mgracer48's silly pull requests from the past couple of days, better and more important pull requests are getting buried and ignored by the Toontown Fellowship Staff. These pull requests are more useful to the game, because they fix stuff or add stuff to the game.

These pull request numbers are 9, 12, 62, 68, 79, 97, 112, 115, 117, and 118

The pull request, 9, was submitted by me 29 days

[2015-02-24 16:30] Chandler255 commented on #99
@starsky135 So, you suggest we zoom the camera out a bit so you would be able to see the levels?

[2015-02-24 16:32] Chandler255 commented on #123
@Spiderlover Thank you for bringing this to our attention, we will definitely take a look at the pull requests you have listed.

[2015-02-24 16:38] enigmeow commented on #99
i assume this is similar to the changes recently put into TTR?

[2015-02-24 19:37] judge2020 opened #125 "Custom HQ officers?"
I was wondering if maybe there could be some custom npc HQ officers that are based off of people who contribute to the source. All that would happen is a DNA change from the officers' to some like enigmeow, chandler, etc. Thoughts?

[2015-02-24 19:38] Chandler255 commented on #125
Hmm... I like the idea.. I'll talk to the staff about this... ;)

[2015-02-24 19:45] judge2020 commented on #125
proof-of-concept: https://github.com/judge2020/src/commit/6fc8b964f0db899463272cfcd528a145147dfee3
 ![image](http://i.gyazo.com/fd1d94200487fe3527a50aeaf61b1290.png)
![image](http://i.gyazo.com/73d310a0f703cbed6c720a305aad0959.jpg)

[2015-02-24 19:52] chandler14362 commented on #125
Sounds like you just want attention

[2015-02-24 19:56] judge2020 commented on #125
I don't think i've contributed enough to get even a MML street HQ officer spot...

[2015-02-24 20:20] gamesawdrew commented on #125
Also should put HQ Officer Chandler in the localizer for that npc Id

[2015-02-24 21:20] lordperiwkle commented on #100
When I first came here, I worked a week with no disconnections or stalls.  However, of recent, I am finding the same problems as TTR is having.  Is it the population increase or something glitch in the server for game player connected.  I'm confused and a bit dismayed over the same problems that brought me here.  Please find and fix it, okay.

[2015-02-24 21:54] starsky135 commented on #99
@Chandler255 Yeah pretty much, newer MMOs seem to have a camera angle that is angled from the side of the players, but that could be an issue because the streets are pretty narrow.

[2015-02-25 01:13] gamesawdrew commented on #99
i would think, have that side angle, but only if u click on something on
the battle menu that will move the camera smoothly over to the side to see
the levels temporarily, the problem with making the battle always like
that, is when you use a gag that affects 1 cog when there are moer than 1,
the arrows won't point correctly...

On Tue, Feb 24, 2015 at 4:54 PM starsky135 <notifications@github.com>

[2015-02-25 02:52] kevman95 commented on #125
Get that off your head. you dont deserve to wear that mickey hat.

[2015-02-25 09:02] gabrielfraser223 opened #129 "RPC Server 501 Not-Implemented?"
Hey I was wondering why the RPC server keeps giving me a 501 error? Is there anything I need to do?

[2015-02-25 09:32] gabrielfraser223 commented on #63
Where do I set the RPC key?

[2015-02-25 09:39] gabrielfraser223 commented on #129
Hey so I whenever I enter my RPC key I get -32003 invalid token? my line is "python rpc-invasions.py isthis16bytesttf http://localhost:8080/" Please help!

[2015-02-25 09:46] gabrielfraser223 commented on #129
and when I use the rpc-server-secret key I get an error saying it needs to be 16 bytes long. please.

[2015-02-25 10:05] #129 closed

[2015-02-25 13:22] enigmeow commented on #123
I've begun to pull the various requests into local branches to allow testing and local debate..  I will continue doing this and then we can start having some formal debates.. :)

[2015-02-25 13:23] enigmeow commented on #120
Pulled this into a branch for testing

[2015-02-25 13:23] #120 closed

[2015-02-25 13:24] enigmeow commented on #116
chandler is working to merge various ideas in the branch (incorrectly named due to a brain fart) as BrutalVP...

[2015-02-25 13:24] #116 closed

[2015-02-25 13:25] enigmeow commented on #48
since we established there is a config item, lets close this

[2015-02-25 13:25] #48 closed

[2015-02-25 13:27] Spiderlover commented on #123
ok, thank you :)

[2015-02-25 13:28] mgracer48 commented on #125
LOL

[2015-02-25 18:46] #111 closed

[2015-02-25 20:01] Teku16 opened #130 "Silly issue: Every new account is an admin?"
Please don't laugh at me, lol. I have looked in a large amount of files and the closest I found was in /config/release/dev.prc but changing that to 100(anything besides 600) does nothing. The new accounts still get assigned "ACCESS_LEVEL" to 600. Obviously this is an issue. Where do I change that?

[2015-02-25 20:22] ToontownLittleCat commented on #130
That's maybe because the account type on the server is set to 'developer'.  You see, when a new account is made when the type is on, it always sets their access level to 600.

If you like normal accounts on your server, you can set your account type to 'local' on dev.prc
https://github.com/toontownfellowship/src/blob/master/config/release/dev.prc#L10

When it's set to local, the first account made

[2015-02-25 20:32] Teku16 commented on #130
@ToontownLittleCat thank you for your reply. I made this change and a new account still got access level 600 when I set "min-access-level 600" and "accountdb-type local". Also, how do I wipe the databases cleanly and correctly?

[2015-02-25 20:36] ToontownLittleCat commented on #130
@Teku16 On astron/databases/astrondb, Delete all the .yaml files. Also, and on databases, make sure to delete the account-bridge.db folder as well.  Oh, and when you make changes to dev.prc, make sure you restart your servers.  Changes won't affect on its own immediately.

[2015-02-25 20:41] Teku16 commented on #130
@ToontownLittleCat I was able to reset the db properly :) but each account (After the first one) are still all user access 600 :/

[2015-02-25 20:42] ToontownLittleCat commented on #130
Huh, let me try this for myself, I'll get back to you if I got anything.

[2015-02-25 20:44] Teku16 commented on #130
@ToontownLittleCat Thanks :) Could I have edited a part of the code for the access that maybe botched the accountdb-type local command?

[2015-02-25 20:50] CrazyClyde commented on #125
@kevman95 You should totally copyright strike them for using your hat man!

[2015-02-25 21:06] ToontownLittleCat commented on #130
Turns out, I got the same problem. It's normal for developer accounts, but for local, it isn't! I think maybe when local account bridge was migrated to semidbm, it broke the local type. Maybe someone else will fix it.  Sorry I couldn't help you.

[2015-02-25 22:06] Teku16 commented on #130
@ToontownLittleCat So if I make an account from a different ip, maybe? Also, I got the source I'm using from TTF, wouldnt their server's have a working version of the issue I'm having?

[2015-02-25 22:22] enigmeow commented on #130
We are using the mysql driver which is very different.  I will take a look and see what the issue is.

[2015-02-25 23:09] Teku16 commented on #130
@enigmeow okay thanks :)

[2015-02-26 03:42] enigmeow commented on #130
I know I said I would look but I have not had time yet.  By this weekend at worst I will dig into this

[2015-02-26 04:57] Teku16 commented on #130
Oh, absolutely. Take your time :) I really appreciate you looking into it!

[2015-02-26 18:32] gamesawdrew commented on #125
@kevman95 U TALKING TO ME M9?

[2015-02-26 18:34] mgracer48 opened #133 "pls make sos cards to 2"
1 seems too little

[2015-02-26 19:08] judge2020 commented on #133
Oh god

[2015-02-26 19:24] #133 closed

[2015-02-27 03:37] gabrielfraser223 opened #135 "Old Shard Page buttons."
How do I bring back the old buttons? Do you mind posting a link to where I can restore these buttons as the numbers make the shard page looking un-natural.

Cheers,
Gabriel.

[2015-02-27 05:08] Wilee999 commented on #135
you need to downgrade panda to 1.4.1 and python to 2.3 it should work then... the panda upgrades improved it

[2015-02-27 06:13] gabrielfraser223 commented on #135
Is that a troll? Cause the game was built for 1.9.0 panda3d.

[2015-02-27 11:19] #135 closed

[2015-02-27 11:20] gabrielfraser223 opened #136 "Add more than 1 safeHarbour? [RPC]"
I've tried many things like:

safeHarbours{"shard1" , "shard2"}

P.S shard1/shard2 are examples.

[2015-02-27 11:21] judge2020 commented on #136
Do I smell a @mgracer48 clone?

[2015-02-27 11:32] gabrielfraser223 commented on #136
Sorry lol. I ask questions then I usually figure out the issue. I'm kinda stupid like that. :P

[2015-02-27 14:43] mgracer48 commented on #133
why closed? i want to have 2 sos cards geeze

[2015-02-27 15:03] #136 closed

[2015-02-27 22:08] CrazyClyde commented on #135
No, @Wilee999 is one of the most intelligent and most serious people in the Toontown community, trust him.

[2015-02-27 23:28] Wilee999 commented on #135
i disagree with that statement because it included more than one comma

[2015-02-27 23:29] judge2020 commented on #135
Wow

[2015-02-28 00:01] CrazyClyde commented on #135
@Wilee999 Sorry I'll Make Sure To Bug Fix My Sentences ! ! !

[2015-02-28 16:52] #66 closed

[2015-02-28 16:52] #45 closed

[2015-02-28 16:52] enigmeow commented on #130
closed and fixed

[2015-02-28 16:52] #130 closed

[2015-02-28 16:52] enigmeow commented on #123
Fixed

[2015-02-28 16:52] #123 closed

[2015-02-28 16:53] #41 closed

[2015-02-28 16:54] #69 closed

[2015-02-28 16:59] enigmeow commented on #53
We are creating a new feature branch (feature/new-camera-angle) that will address this issue

[2015-02-28 16:59] #53 closed

[2015-02-28 17:00] enigmeow commented on #99
We are creating a new feature branch (feature/new-camera-angle) that will address this issue

[2015-02-28 17:00] #99 closed

[2015-02-28 17:01] enigmeow commented on #125
I think this is a funny idea but not worth leaving in the issues list...

[2015-02-28 17:01] #125 closed

[2015-02-28 17:03] enigmeow commented on #54
contact me at ebbohknee@skype if you are really working on this..

[2015-02-28 17:03] #54 closed

[2015-02-28 19:24] judge2020 commented on #125
Got it, if anyone does want this to happen all you do is edit ttlocalizerenglish.py and npctoons.py so it's not that hard :)

[2015-02-28 23:46] gamesawdrew commented on #85
speaking of "Very hard to see" I CANT SEE THOSE PICTURES lol

[2015-03-01 02:03] judge2020 commented on #85
this'd be a nice feature.

[2015-03-01 06:07] enigmeow commented on #85
we have a dev working on this now.. :)

[2015-03-01 12:27] mgracer48 commented on #133
@enigmeow

[2015-03-02 03:40] brownzilla opened #149 "Random DC every hour?"
Hey TTF Team...

I host a server and every hour it kicks all toons off. This has been an issue that is more of an annoyance then a bug.

I'm not sure if this is a CPU or RAM issue it just kicks toons every hour.

I'll post my server specs below.

Server SPECS:
Windows Server 2008 R2 with Virtio Drivers Installed
1x Intel Xeon 3.4GHZ CPU Core
1GB DDR3 RAM
20GB SSD 6.2gbps
10 gbps uplink speed

Than

[2015-03-02 14:17] judge2020 commented on #149
I'm not sure what this could be caused by, but I do say that even though you have a beast processor that's made for 24/7 operation, your ram is very bad. This could be the problem, but don't hold me to it.

[2015-03-02 16:18] enigmeow commented on #149
What is your swap set at? With that small a disk, I would bet the virtual memory is set pretty small as well.  I had this issue when I was running on a small virtual machine for a while.

But honestly, we don't run this in production on a windows box and so we have no experience with long term stability on that platform.  Sorry

[2015-03-02 23:06] gabrielfraser223 commented on #149
Okay so I should wait for you guys to finish writing up the Linux tutorial. My native OS is Linux. I'm a windows noob. Haha.

[2015-03-02 23:07] gabrielfraser223 commented on #149
@judge2020 I've tried running the server with 2GB ram and it uses less than a gig but I still get random  disconnections every hour. I've also tried to see if the time is the issue due to it being every hour.

[2015-03-02 23:42] judge2020 commented on #149
I have been working on a Linux tutorial but I am having trouble with installing panda on it, lots of dependency issues, but hopefully it'll be out soon

[2015-03-02 23:59] enigmeow commented on #149
https://github.com/toontownfellowship/src/blob/master/doc/production/README

[2015-03-03 01:00] gabrielfraser223 commented on #149
@judge2020 I've compiled Panda3D-1.9.0 on linux? I could link you a link. I've successfully installed panda3d on my ubuntu OS

[2015-03-03 01:02] gabrielfraser223 commented on #149
@enigmeow I've got everything to run. I'm just having issues with the astrond not working and the ai_server is having a python27 error which is fixable.

[2015-03-04 01:36] Keatonn commented on #85
Enigmeow and I have fixed this, it should be fixed in the next update :).

[2015-03-04 01:39] judge2020 commented on #85
Nice! (close please)

[2015-03-04 21:21] Loudrob opened #155 "Compiling to .pdna"
I have become aware that the regular version of libpandadna wont compile correctly with some of the dna files. I remember hearing that there was a custom libpandadna compiler for TTI, does anyone have this?

[2015-03-07 16:23] #85 closed

[2015-03-08 01:37] MiniguyBrendan commented on #155
Oof, they took it down, for some reason. It was located here, while it was up: https://www.dropbox.com/s/1gjttvetjqoj0oy/libpandadna-wip-python-signs.zip?dl=0

But the link is down.

I had it downloaded, let me see if I can find it.

[2015-03-08 01:38] judge2020 commented on #155
@MiniguyBrendan if you could, this would help development

[2015-03-08 01:40] MiniguyBrendan commented on #155
https://github.com/loblao/libpandadna/tree/feature/tests

I'm still looking, but this might be it. It's a "tests" branch on libpandadna, and it appears that the wip/python-signs branch got merged into it.

[2015-03-08 04:56] Puggyblue999 commented on #155
You don't need no custom libpandadna. Just clone the repo (https://github.com/loblao/libpandadna) and checkout 17d1b4a

[2015-03-08 05:26] MiniguyBrendan commented on #155
When TTI's source first went open, it DID require a customized version of libpandadna. However it appears that they have merged the wip-python/signs to master.

[2015-03-08 12:10] Loudrob commented on #155
Traceback (most recent call last):
  File "compile.py", line 149, in <module>
    process_single_file(file)
  File "compile.py", line 99, in process_single_file
    rootData = loadDNAFile(dnaStore, filename)
  File "compile.py", line 72, in loadDNAFile
    return str(root.traverse(recursive=True, verbose=args.verbose))
  File "C:\Users\Zachary\Documents\libpandadna\compiler\dna\components\DNAGroup

[2015-03-08 12:47] Loudrob commented on #155
After I compile, this happens:
http://prntscr.com/6e7vfe

[2015-03-08 16:45] daviddave opened #159 "API"
Hi. How is an api that the game can connect to be made i have a database. But uberdog fails.

[2015-03-08 16:47] judge2020 commented on #159
I was so devastated when I saw this was an issue rather than a PR ._.

[2015-03-08 17:01] daviddave commented on #159
Oh. Well

[2015-03-08 17:06] gamesawdrew commented on #155
@conspirator LOL atleast its a start
On Sun, Mar 8, 2015 at 8:47 AM Conspirator <notifications@github.com> wrote:

[2015-03-09 01:13] Puggyblue999 commented on #155
I don't know if you fixed the font issue or not; but just in case, I'll give ya my way of doing it:

I put this bat file under libpandadna/ and it's in the same folder I keep src and resources in.
@echo off
python compiler/compile.py --path ../resources/ {storage path} {dna to compile} --logfile log.txt

[2015-03-09 01:34] gamesawdrew commented on #155
@Puggyblue999 Could you put an example? and what do u mean by storage path?

[2015-03-09 10:47] gabrielfraser223 opened #160 "Infinite Cipher?"
hey...

You have probably been asked this a lot lately but when is the infinite cipher being released? I really want to get a server going for my friends and I.

Thanks,
Gabriel.

[2015-03-09 10:52] judge2020 commented on #160
Infinite cypher is the only remote security the TTI based servers have against hackers is what I believe. So unless a Dev goes crazy, it's not going to be released

[2015-03-09 17:55] daviddave commented on #160
Hey. Why don't you try using tto as a base line and make a ,bat to run it. I got it updating from toontown.exe. Working on a launcher but fails.

[2015-03-09 20:37] gabrielfraser223 commented on #160
daviddave, wanna work together? I'm currently working on a launcher aswell and it works

[2015-03-09 20:48] daviddave commented on #160
yeah. Im working on a copy like original tto.

[2015-03-09 21:57] Puggyblue999 commented on #155
For example; if I were to compile the Toontown Central Playground, I would do:
@echo off
python compiler/compile.py --path ../resources/ ../resources/phase_4/dna/storage_TT.dna ../resources/phase_4/dna/toontown_central_sz.dna

[2015-03-09 22:45] CrazyClyde commented on #160
Can I help @daviddave  ?

[2015-03-09 22:53] gabrielfraser223 commented on #160
Daviddave, message me your skype details, I'll come join development. I'll send you my skype anyway. haha @daviddave

[2015-03-10 07:49] daviddave commented on #160
@crazyclyde yes. So you know I'm in England so. I'm off to school. @gabrialfraser223 I got your message. I'll message you tonight on skype.

[2015-03-10 15:51] mgracer48 commented on #160
@daviddave if you want to help a game with making a launcher please message me back we need some help!

[2015-03-10 17:06] gamesawdrew commented on #155
Ok thanks! :)
On Mon, Mar 9, 2015 at 5:57 PM Fredrick <notifications@github.com> wrote:

[2015-03-10 17:06] gamesawdrew commented on #160
@mgracer48 yes we do :)
On Tue, Mar 10, 2015 at 11:51 AM mgracer48 <notifications@github.com> wrote:

[2015-03-10 17:12] mgracer48 commented on #160
@daviddave  just message me on skype im mgracer

[2015-03-10 18:03] chandler14362 commented on #155
@Loudrob That happens because the TTI pdna reader still requires a custom compiler. I am planning to add new features to libpandadna soon. Ill try to make a reader and compiler that people should be able to install as a third-party package.

[2015-03-10 18:17] daviddave commented on #160
there's several

[2015-03-10 18:20] mgracer48 commented on #160
what about mgracer48?

[2015-03-10 18:32] gamesawdrew commented on #160
@daviddave Add me on skype, im Xysda12345. I have MGRACER, i will send u his contact if you want :)

[2015-03-10 22:59] gamesawdrew opened #161 "Walking in petshop"
Whenever i enable pets, when i walk into the pet shop, i start to walk in, but once the door opens, it teleports me to the coords 0,0 and i get stuck. is it something with the DNA file or part of the code?

[2015-03-10 23:05] gamesawdrew commented on #161
This is what it looks like: http://gyazo.com/5e0f4bf84464e8a64494d21ee21db7c2

[2015-03-10 23:23] judge2020 commented on #161
This is because the pet shop code is set tp you to 0,0 because the pet shop code isn't properly implemented. To get this to work, you'll need to code the pets yourself and remove the 0,0 TP code

Sent from my iPhone

[2015-03-10 23:26] judge2020 commented on #161
I'm pretty sure [this](https://github.com/toontownfellowship/src/blob/master/toontown/building/DistributedPetshopInteriorAI.py) is the file that TPs you back and requires coding

[2015-03-10 23:29] gamesawdrew commented on #161
That's weird. cuz in the very old TTI retro version thing, i was able to get in, and i just checked and the code is the same...

[2015-03-10 23:35] nkrypt commented on #161
@judge2020 No, the door origin is messed up.

[2015-03-10 23:37] gamesawdrew commented on #161
@nkrypt Is that in the dna files?

[2015-03-10 23:38] nkrypt commented on #161
@gamesawdrew No, it's the model itself.

[2015-03-10 23:38] gamesawdrew commented on #161
@nkrypt Oh. Maybe i can use the working model, and that should fix?

[2015-03-10 23:41] nkrypt commented on #161
@gamesawdrew Go back a few commits on resources and that should fix it, before Sean pushed something with pet shop models.

[2015-03-10 23:46] gamesawdrew commented on #161
@nkrypt Ok, i can enter the shop now :D. Thank you so much!

[2015-03-11 11:43] Loudrob commented on #160
sigh....

[2015-03-11 19:13] Xenofied commented on #113
This has been fixed in 1.1.3

[2015-03-11 19:15] mgracer48 commented on #113
really?

[2015-03-11 19:47] pslifeisgood commented on #160
Goodluck with getting their AI files homos ;)

[2015-03-11 21:32] Loudrob commented on #160
i hope they realize that it isnt possible to add new content if its all in the .exe..

[2015-03-11 21:34] daviddave commented on #160
Who are you talking to

[2015-03-11 23:19] #161 closed

[2015-03-12 01:09] gabrielfraser223 commented on #160
@Loudrob, I'm making a toontown server with @daviddave and so far we've got the launcher to run, download, and connect to the server. That is using the old toontown launcher. You would be surprised how much effort we're putting in.

[2015-03-14 14:25] DenialMC commented on #155
I fixed the issue.

There are a few issues you'll get along the way. First: You have to make sure you are compiling with the storage file.

Second: If you get a mickey font error, just store the font (dnaStore.storeFont('pathToMickeyFontBam', 'mickey'))

Third: If you get broken flat buildings (http://prntscr.com/6e7vfe), it's because of this issue:

When the libpandadna compiler compiles a DNAFla

[2015-03-14 18:32] gamesawdrew commented on #155
@DenialMC Wher do i store that?

[2015-03-14 18:58] judge2020 commented on #155
@gamesawdrew i would think where panda is giving you the error of not found

[2015-03-15 16:56] pslifeisgood commented on #160
That doesn't sound like much effort @gabrielfraser223

[2015-03-15 18:03] CrazyClyde commented on #160
@pslifeisgood No I'm fairly sure them using 4 lines of TTInjector code to get fire hydrant animations "working" is alot of effort.

[2015-03-15 19:33] gamesawdrew commented on #160
@CrazyClyde I would love to get those hydrant animations working ;)

[2015-03-15 20:41] CrazyClyde commented on #160
@gamesawdrew It's only in the emulator that they're using, and even though it literally is 4 short lines of code they'll probably never figure it out.

[2015-03-15 21:03] judge2020 commented on #160
the only possible way you could add new content is having the launcher inject something at the startup, but then someone could modify what it injects :P

[2015-03-15 21:08] daviddave commented on #160
Build_client.py

[2015-03-15 21:09] judge2020 commented on #160
@daviddave what do you mean?

[2015-03-15 21:16] daviddave commented on #160
have it build a .dll not a .bin

[2015-03-15 22:06] CrazyClyde commented on #160
@daviddave In my opinion that's basically impossible, considering you'd have to convert all the code to C/C++... (or Cython)

[2015-03-15 22:10] Loudrob commented on #160
@CrazyClyde you are wrong.

[2015-03-15 22:22] CrazyClyde commented on #160
@Loudrob ???

[2015-03-16 07:06] gabrielfraser223 commented on #160
He's actually right lol. Frozen code can be compiled into *.dll

[2015-03-16 12:01] Loudrob commented on #160
build_client can't be used since you guys will never get infinitecipher

[2015-03-16 12:03] Loudrob commented on #160
close this issue please, you guys can talk about this in your own repo, not this issue

[2015-03-16 13:11] ToontownLittleCat commented on #160
@Loudrob is right, it is very unlikely for infinite cipher to be released to the public.  If you like to freeze your client code for the public, you have to figure that out yourself.  Closing.

[2015-03-16 15:38] Loudrob commented on #155
I switched to loblao's C++ libpandadna reader now, so this isn't needed for me at least anymore. Some others may want the compiler, though.

[2015-03-16 16:01] chandler14362 commented on #155
@Loudrob How much faster would you say the CPP reader is?

[2015-03-16 19:38] Loudrob commented on #155
Quite a bit. The AI server loads alot faster. There are also improved loading times in game.

[2015-03-16 21:04] gamesawdrew commented on #155
@Loudrob Could you please give me instructions on how to switch the game to use the c++ reader? is it easy like just replace the contents of the DNA folder or is it a bit different

[2015-03-17 02:24] Loudrob commented on #155
It is not necessarily easy. You can get loblao to help with implementation, though.

[2015-03-17 02:39] gamesawdrew commented on #155
ok

[2015-03-17 06:21] pslifeisgood commented on #160
Y'all crazy

[2015-03-17 06:21] #160 closed

[2015-03-17 15:06] gamesawdrew commented on #155
Alright
On Mon, Mar 16, 2015 at 10:24 PM Conspirator <notifications@github.com>
wrote:

[2015-03-17 18:49] gamesawdrew commented on #155
@Loudrob I would much rather use the c++ reader. Cuz when i actually use the compiler and it works, when i load that area in game, it crashes cuz of the TTI dna reader.
i also want to get those dang animated props to work. i liked those.

[2015-03-19 19:50] gamesawdrew commented on #155
@Loudrob Could u possibly put it in a github so i could see how u did it?

[2015-03-20 19:29] gamesawdrew commented on #159
wtf happened to this github. the new updates arent in here. i thought it was an OPEN SOURCED project -_-

[2015-03-20 19:30] judge2020 commented on #159
@gamesawdrew it was moved to closed source due to low quality PR's and whatnot.

[2015-03-20 21:55] gamesawdrew commented on #159
http://gyazo.com/9660e012d3c820d51a4f4ba0720a2476

[2015-03-20 22:23] MiniguyBrendan commented on #159
@judge2020 Wow. Yes, there were tons of bad PRs, but that doesn't mean that you should block the rest of the community from using TTF code. That was the only reason you had any fans at all.

[2015-03-21 22:56] gamesawdrew commented on #159
@MiniguyBrendan Couldn't agree more.

[2015-03-22 04:12] CrazyClyde commented on #159
They're dead anyways, the source will get leaked/released one way or another.

[2015-03-22 15:33] gamesawdrew commented on #159
I think this server should go now that tti is opening back up. That was the only reason this server was made

[2015-03-23 19:20] enigmeow commented on #159
We had multiple dev's who demanded their work not be open source.  It became a management issue...

tbh, since they already leaked their updates themselves, I will pull everything back into here pretty soon..

[2015-03-23 19:22] ToontownLittleCat commented on #159
Good, I like this project being open sourced anyways.

[2015-03-23 19:55] judge2020 commented on #159
Awesome!

[2015-03-23 19:58] MiniguyBrendan commented on #159
Thanks god i i I mean enigmeow

[2015-03-28 19:07] MikeTheToon opened #162 "Compiling to PYD"
Hey there! I was wondering how to compile to pyd and run it. I already prepared the client. I am just having an error with the build tools. Could anyone help me out? If you need my skype it is miketoontown.
[code]

[2015-03-28 19:15] judge2020 commented on #162
Maybe this is because you're using Panda 1.8.1? Fellowship uses a custom panda 1.9 build that includes some tools and whatnot (just like infinite) but there's probably also something else...

[2015-03-28 19:19] judge2020 commented on #162
Btw the panda is located in the third party repo of this github organization

[2015-03-28 19:25] MikeTheToon commented on #162
Okay so, I have gotten the pyd to work but I am trying to run the game. I recompiled the pyd in 1.9.0 and it worked. So I am trying to run it with this code:
Batch file:
[code]
And the PYC File:
[code]
The error I get is:
[code]

[2015-03-28 22:56] judge2020 commented on #162
[code]
looks like there is no __init__ file or in initlibpandaexpress the __init__ function isn't there

[2015-03-29 15:43] MikeTheToon commented on #162
How would I fix that ^_^

..

._.

[2015-04-01 22:14] gamesawdrew commented on #155
@Loudrob Any way you could help? Loblao isn't responding

[2015-04-05 15:55] flumes commented on #162
Python *.pyd files, like *.dll files, have a module to execute on load. Do not hard code the client start module. Use the --main-module argument properly and on loading the library the client start module will start automatically. I believe you're getting this error because the *.pyd was not given an objective (i.e. you did not define the main module or the one used did not exist). If the issue pe

[2015-04-06 05:36] MikeTheToon commented on #162
@flumes
The main-module is defined. I am using Panda 3D 1.8.1 for the build tools, and the game. When I use 1.8.1 I get this error:

[code]

[2015-04-06 13:11] judge2020 commented on #162
@mikethetoon did you even read the earlier messages?
"Maybe this is because you're using Panda 1.8.1? Fellowship uses a custom panda 1.9 build that includes some tools and whatnot (just like infinite) but there's probably also something else..."

[2015-04-06 13:12] judge2020 commented on #162
The 1.9 build TTF uses is in the third party repo

[2015-04-06 15:51] MikeTheToon commented on #162
@judge2020
I did read the earlier messages and I tried to see if 1.8.1 work work but apparently not. 1.9 is still the same error with the module defined.

[2015-05-23 17:14] MiniguyBrendan commented on #100
This is fixable. You need to enable X11 in Wine.

[2015-06-19 18:16] #162 closed

[2015-08-16 23:39] Midnighters opened #163 "Building?"
I try the example from doc but it didn't work please help.
I have the python path in but it still doesn't work.

[2015-08-18 14:39] #163 closed

[2015-08-21 17:34] mgracer48 opened #165 "­­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­"
­­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­

[2015-08-21 17:34] mgracer48 opened #166 "­­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­"

[2015-08-21 17:41] #166 closed

[2015-08-21 17:42] #165 closed

[2015-09-21 15:40] mgracer48 opened #168 "creating new district when creating a new ai server doesn't work"
I downloaded the panda3d for linux from doc/production/readme and i get this crash

Traceback (most recent call last):
File "/usr/lib/python2.7/runpy.py", line 162, in run_module_as_main
"__main_", fname, loader, pkg_name)
File "/usr/lib/python2.7/runpy.py", line 72, in run_code
exec code in run_globals
File "/root/Toontown-United-master/toontown/ai/ServiceStart.py", line 48, in
run()
File "otp/ai

[2015-09-21 18:26] enigmeow commented on #168
I do exactly this for 6 districts and seems to work fine... There must be something else at play

[2015-09-21 19:22] gamesawdrew commented on #168
ur really posting this on TTF when it has NOTHIGN to do with TTF. not even TTI source code. Nice job. ur officially retarded

[2015-09-21 19:24] #168 closed

[2015-10-09 08:08] mgracer48 commented on #63
or how would i set the password can you give an example please

[2015-10-13 16:39] mgracer48 commented on #63
:OTPClientRepository(warning): Server is booting us out (122): unknown user

[2015-10-13 17:20] mgracer48 commented on #63
[2015-10-13 12:17:32] ERROR: Client (78.43.41.122:58168, 1000000005): Ejecting client (122): Can't decode this token.

[2015-10-13 17:55] mgracer48 commented on #63
2015-10-13 11:47:31] ERROR: Client (78.43.41.122:53364, 1000000002): Ejecting client (122): unknown user

[2015-10-13 18:58] gamesawdrew commented on #63
I hope u guys know this autist mg is asking this to use for his own server that isn't even ttf code.

[2015-10-13 19:03] mgracer48 commented on #63
i hope you guys know that drew is butthurt because im asking help from the only nice guy on TTF team,  enigmeow

[2015-10-13 19:04] gamesawdrew commented on #63
I hope u guys know that mg is known for being butthurt and that it isn't the same server and that u should figure out ur own problems

[2015-10-13 19:05] mgracer48 commented on #63
and you should also know drew asked for help with rpc for his own server ;)

[2015-10-13 19:05] gamesawdrew commented on #63
dipshit cuz it was on the same source code...

[2015-10-13 19:06] mgracer48 commented on #63
dipshit and we are using the same database as TTF is using

[2015-10-13 19:11] gamesawdrew commented on #63
no ur not.
autism is so real

[2015-10-13 19:11] mgracer48 commented on #63
STFU and yes we are, we are using mysql same fellowship is idiot

[2015-10-14 02:28] #63 closed

[2015-11-01 05:26] #149 closed

[2015-11-05 18:41] mgracer48 commented on #123
@Spiderlover lol i remember this XD

[2015-11-05 20:43] gamesawdrew commented on #123
@mgracer48 u still do that. just not as pull requests. u just add tem into the game ur self

[2015-11-05 20:45] mgracer48 commented on #123
@gamesawdrew no i don't

[2015-12-22 01:04] JoeyZiolkowski opened #169 "I like pussy"
Yea its good

[2015-12-22 01:05] #169 closed

[2015-12-22 01:05] JoeyZiolkowski opened #170 "TTF sucks balls"
Come on you know TTR is so much better

[2015-12-22 01:09] JoeyZiolkowski commented on #169
All hail fucking Maverick boys.

[2015-12-22 01:11] Spiderlover commented on #169
All Hail the Mighty Dark Lord of the Sith, Maverick

[2015-12-22 01:12] gamesawdrew commented on #170
srsly? nuuu

[2015-12-22 01:14] JoeyZiolkowski commented on #169
DAMN ME I SUCK

[2015-12-22 01:15] JoeyZiolkowski commented on #170
Come on you know you love TTR, TTR is love TTR is life

[2015-12-22 01:17] Spiderlover commented on #169
Don't worry, Joey, you will be a real Python coder, one day :)

[2015-12-22 01:18] JoeyZiolkowski commented on #169
Thanks I know I will but also why did i get removed from TTR github? They hate me :(

[2015-12-22 01:18] JoeyZiolkowski opened #171 "Shit"

[2015-12-22 01:18] Spiderlover commented on #170
TTR is the best :) I agree with @JoeyZiolkowski

[2015-12-22 01:18] JoeyZiolkowski opened #172 "all hail maverick"
Your new ruler

[2015-12-22 01:18] #172 closed

[2015-12-22 01:20] Spiderlover commented on #169
awwww, that's too bad

[2015-12-22 01:26] JoeyZiolkowski opened #173 "All Hail Kylo Ren"
All Hail Kylo Ren, the best Dark Lord of the Sith in the entire galaxy.

[2015-12-22 01:28] JoeyZiolkowski commented on #173
Yes definately i agree

[2015-12-22 01:30] #170 closed

[2015-12-22 01:30] #171 closed

[2015-12-22 01:30] #173 closed

[2015-12-22 01:31] JoeyZiolkowski opened #174 "Star wars force awakens spoiler"
Han Solo dies

[2015-12-22 01:33] #174 closed